  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large transparent">
      <i class="large"><img src="{{t 'localeFlag'}}" class="icon-flag"></i>
    </a>
    <ul>
{{#each languages as |language|}}
<li>
	<a class="btn-floating transparent" href="#" {{action 'changeLocale' language.code}} name="{{language.code}}"><i class="material-icons"><img src="{{language.flagUrl}}" class="icon-flag"></i></a>
</li>
{{/each}}
    </ul>
  </div>
<!--  
{{#md-navbar name=(t 'votos') class='transparent' homeRoute='index'}}
<li><a href="vota" class="waves-effect waves-light"><i class="material-icons right" title="Vota">thumb_up</i></a></li>
{{/md-navbar}}
-->
    <div class="row">
        <div class="col s10 m6 offset-s1 offset-m3">
  {{#md-card title="spechless"
    titleClass="green-text"
    image="favicon.png"
    class="card transparent z-depth-5"
    activator=true
    id="card-reveal"}}

    {{#md-card-content class="card-content"}}

<p>{{t 'next'}} {{moment-from-now spechlesses.lastObject.fecha interval=1000}}</p>
<p>{{spechlesses.lastObject.nameSala}}</p>
<p>{{spechlesses.lastObject.adressSala}}</p>
<p>{{spechlesses.lastObject.busInfo}}</p>
<p>{{t 'metro'}}: {{spechlesses.lastObject.metroInfo}}</p>
<br/>
<p>Dale al título, a los puntos o a la imagen para acceder a los ponentes y poder dar tu voto.</p>
<!--
    {{#md-card-action class="card-action white-text"}}
-->
<!--a href="vota" class="btn-floating right waves-effect waves-light green"><i class="large material-icons right" title="Vota">thumb_up</i></a-->
<!--a href="#" class="btn-floating left waves-effect waves-light red"><i class="right" title="Vota">{{votos.length}}</i></a-->

<!--
        {{#link-to "application" class='btn-floating waves-effect waves-light red' title='registro'}}<i class="large material-icons">power_settings_new</i>{{/link-to}}
        {{#link-to "application" class='btn-floating right waves-effect waves-light green' title='login'}}<i class="large material-icons">lock_outline</i>{{/link-to}}
-->
<!--
    {{/md-card-action}}
-->
    {{/md-card-content}}

    {{#md-card-reveal class="card-reveal orange lighten-3 black-text"}}
              <p>{{t 'welcome'}}</p>

<!--ul class="collection">
  <li class="collection-item">
    spechless
  
    {{md-badge class='deep-orange white-text' text=spechlesses.length}}
  
  </li>
  <li class="collection-item">votos
    
    {{#md-badge class='deep-orange white-text'}}
    	{{votos.length}}
    {{/md-badge}}

  </li>
  <li class="collection-item">siguiente
    
    {{#md-badge class='deep-orange white-text'}}
    	{{moment-format spechlesses.lastObject.fecha}}
    {{/md-badge}}

  </li>

</ul-->

<!--              <p>ember install ember-cli-materialize</p>
              <p>Configurar defaults en environment.js y defaults en style.scss</p>
              <p>ember install ember-i18n</p>
              <p>npm install ember-i18n --save-dev</p>
              <p>ember g locale es && ember g locale en</p>
              <p>Configurar defaults en environment.js</p>
              <p>ember install ember-cli-favicon</p>
              <p>ember install ember-moment</p>
              <p>Actualiza .jshintrc con moment: true y configura environment.js</p>
              <p></p>
 -->             <p></p>
{{#md-switches
    multiple=false
    selection=radioSelection
    optionValuePath='id'
    optionLabelPath='text'}}
{{#if spechlesses.lastObject.p1}}
      <p>{{md-switch value=spechlesses.lastObject.p1 name=spechlesses.lastObject.p1}}</p>
{{/if}}
{{#if spechlesses.lastObject.p2}}
      <p>{{md-switch value=spechlesses.lastObject.p2 name=spechlesses.lastObject.p2}}</p>
{{/if}}
{{#if spechlesses.lastObject.p3}}
      <p>{{md-switch value=spechlesses.lastObject.p3 name=spechlesses.lastObject.p3}}</p>
{{/if}}
{{#if spechlesses.lastObject.p4}}
      <p>{{md-switch value=spechlesses.lastObject.p4 name=spechlesses.lastObject.p4 class=transparent}}</p>
{{/if}}
{{/md-switches}}
<a href="vota" class="btn-floating right waves-effect waves-light green"><i class="large material-icons right" title="Vota">thumb_up</i></a>

    {{/md-card-reveal}}
{{/md-card}}


      </div>
</div>
{{outlet}}
